<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vets List Page</title>
</head>
<body>
<h1 th:text="'Vets Page'">Vets Page...</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet: ${vets}">
        <td th:text="${vet.getId()}">1</td>
        <td th:text="${vet.getFirstName()}">Joe</td>
        <td th:text="${vet.getLastName()}">Buck</td>
    </tr>
    </tbody>
</table>

</body>
</html>